In [1]:
import pandas as pd
bond=pd.read_csv('jamesbond.csv',index_col='Film')
bond.sort_values(by="Film", inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [2]:
bond.sample()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [3]:
bond.sample(n=3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN

In [4]:
bond.sample(n=3,axis=1)

                                          Actor  Budget  Year
Film
A View to a Kill                    Roger Moore    54.5  1985
Casino Royale                      Daniel Craig   145.3  2006
Casino Royale                       David Niven    85.0  1967
Diamonds Are Forever               Sean Connery    34.7  1971
Die Another Day                  Pierce Brosnan   154.2  2002
Dr. No                             Sean Connery     7.0  1962
For Your Eyes Only                  Roger Moore    60.2  1981
From Russia with Love              Sean Connery    12.6  1963
GoldenEye                        Pierce Brosnan    76.9  1995
Goldfinger                         Sean Connery    18.6  1964
Licence to Kill                  Timothy Dalton    56.7  1989
Live and Let Die                    Roger Moore    30.8  1973
Moonraker                           Roger Moore    91.5  1979
Never Say Never Again              Sean Connery    86.0  1983
Octopussy                           Roger Moore    53.9  1983
On Her Majesty's Secret Service  George Lazenby    37.3  1969
Quantum of Solace                  Daniel Craig   181.4  2008
Skyfall                            Daniel Craig   170.2  2012
Spectre                            Daniel Craig   206.3  2015
The Living Daylights             Timothy Dalton    68.8  1987
The Man with the Golden Gun         Roger Moore    27.7  1974
The Spy Who Loved Me                Roger Moore    45.1  1977
The World Is Not Enough          Pierce Brosnan   158.3  1999
Thunderball                        Sean Connery    41.9  1965
Tomorrow Never Dies              Pierce Brosnan   133.9  1997
You Only Live Twice                Sean Connery    59.9  1967

In [5]:
bond.sample(frac=0.5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6