In [2]:
import pandas

In [9]:
names=pandas.read_csv("girls_name.csv")

In [10]:
names.head()

    sara
0   noor
1   iqra
2   aqsa
3  maria
4  kiran

In [11]:
names.tail()

     sara
7   farha
8    zara
9   kokab
10  faiza
11   sara

In [13]:
names.index

RangeIndex(start=0, stop=12, step=1)

names.dtype

In [16]:
names.shape

(12, 1)