In [20]:
import pandas as pda
nba=pda.read_csv('nbasalaries.csv')
nba.sort_values("Player",ascending=True,inplace=True)
nba

     Unnamed: 0   RK           Player                    TEAM        SALARY
236         236  237     Aaron Brooks           Chicago Bulls   $2,250,000
156         156  157     Aaron Gordon           Orlando Magic   $4,171,680
382         382  383   Aaron Harrison       Charlotte Hornets     $525,093
260         260  261    Adreian Payne  Minnesota Timberwolves   $1,938,840
39           39   40     Al Jefferson       Charlotte Hornets  $13,500,000
..          ...  ...              ...                     ...           ...
61           61   62  Wilson Chandler          Denver Nuggets  $10,449,438
243         243  244      Zach LaVine  Minnesota Timberwolves   $2,148,360
69           69   70    Zach Randolph       Memphis Grizzlies   $9,638,555
128         128  129    Zaza Pachulia        Dallas Mavericks   $5,200,000
270         270  271     Zoran Dragic          Boston Celtics   $1,706,225

[420 rows x 5 columns]

In [23]:
mask=nba['Player'].duplicated()
nba[mask]

    Unnamed: 0  RK             Player                TEAM        SALARY
17          17  18        Kobe Bryant   San Antonio Spurs  $16,407,500
21          21  22        Kobe Bryant  Washington Wizards  $15,851,950
19          19  20        Kobe Bryant       Chicago Bulls  $16,407,500
8            8   9  Russell Westbrook          Miami Heat  $20,000,000
13          13  14  Russell Westbrook       Atlanta Hawks  $18,671,659

In [ ]:
mask=~nba['Player'].duplicated()
nba[mask]