In [22]:
import pandas as pd
df=pd.read_csv("employees.csv")
df.head()

,Name,Department,Manager,Salary,Star_date,Last Login Time,Senior Management,Gender
0,Robin Hood,NaN,NaN,200,8/12/1998,12:45 PM,True,male
1,Arsene Wenger,Bar,Friar Tuck,50,7/11/1999,13:10 AM,False,female
2,Friar Tuck,Foo,Robin Hood,100,6/4/1996,15:09 PM,False,male
3,Little John,Foo,Robin Hood,100,5/3/1996,16:19 AM,True,male
4,Sam Allardyce,NaN,NaN,250,4/6/1997,13:10 PM,True,female

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6 non-null      object
 1   Department         4 non-null      object
 2   Manager            4 non-null      object
 3   Salary             6 non-null      int64
 4   Star_date          6 non-null      object
 5   Last Login Time    6 non-null      object
 6   Senior Management  6 non-null      bool
 7   Gender             6 non-null      object
dtypes: bool(1), int64(1), object(6)
memory usage: 262.0+ bytes

In [15]:
df['Star_date']

0    8/12/1998
1    7/11/1999
2     6/4/1996
3     5/3/1996
4     4/6/1997
5     5/6/1998
Name: Star_date, dtype: object

In [16]:
pd.to_datetime(df['Star_date'])

0   1998-08-12
1   1999-07-11
2   1996-06-04
3   1996-05-03
4   1997-04-06
5   1998-05-06
Name: Star_date, dtype: datetime64[ns]

In [17]:
df['Star_date']=pd.to_datetime(df['Star_date'])

In [18]:
df['Last Login Time']

0       12:45 PM
1       13:10 AM
2       15:09 PM
3    12:45:00 AM
4       13:10 PM
5       13:10 AM
Name: Last Login Time, dtype: object

In [28]:
df["Gender"].astype("category")

0      male
1    female
2      male
3      male
4    female
5      male
Name: Gender, dtype: category
Categories (2, object): [female, male]

In [31]:
import pandas as pd
df=pd.read_csv("employees.csv", parse_dates=['Star_date','Last Login Time'])
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6 non-null      object
 1   Department         4 non-null      object
 2   Manager            4 non-null      object
 3   Salary             6 non-null      int64
 4   Star_date          6 non-null      datetime64[ns]
 5   Last Login Time    6 non-null      object
 6   Senior Management  6 non-null      bool
 7   Gender             6 non-null      object
dtypes: bool(1), datetime64[ns](1), int64(1), object(5)
memory usage: 286.0+ bytes