In [1]:
import pandas as pd
bond=pd.read_csv('jamesbond.csv',index_col='Film')
bond.sort_values(by="Film", inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [4]:
def good_movie(row):
    actor=row[1]
    budget=row[4]
    
    if actor=="Pierce Brosnan":
        return "The Best"
    elif actor=='Sean Connery' and budget >40:
        return "Enjoyable"
    else:
        return "I have no idea"
    
bond.apply(good_movie,axis=1)

Film
A View to a Kill                   I have no idea
Casino Royale                      I have no idea
Casino Royale                      I have no idea
Diamonds Are Forever               I have no idea
Die Another Day                          The Best
Dr. No                             I have no idea
For Your Eyes Only                 I have no idea
From Russia with Love              I have no idea
GoldenEye                                The Best
Goldfinger                         I have no idea
Licence to Kill                    I have no idea
Live and Let Die                   I have no idea
Moonraker                          I have no idea
Never Say Never Again                   Enjoyable
Octopussy                          I have no idea
On Her Majesty's Secret Service    I have no idea
Quantum of Solace                  I have no idea
Skyfall                            I have no idea
Spectre                            I have no idea
The Living Daylights               I have no idea
The Man with the Golden Gun        I have no idea
The Spy Who Loved Me               I have no idea
The World Is Not Enough                  The Best
Thunderball                             Enjoyable
Tomorrow Never Dies                      The Best
You Only Live Twice                     Enjoyable
dtype: object