In [1]:
import pandas as pd
bond=pd.read_csv('jamesbond.csv',index_col='Film')
bond.sort_values(by="Film", inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [2]:
bond.ix[["A View to a Kill",'Casino Royale','Die Another Day']]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [4]:
bond.ix['Die Another Day']

AttributeError: 'DataFrame' object has no attribute 'ix'