In [1]:
import pandas as pd
nba=pd.read_csv("nbasalaries.csv")

In [5]:
nba
nba.head()

   Unnamed: 0  RK           Player                 TEAM        SALARY
0           0   1      Kobe Bryant   Los Angeles Lakers  $25,000,000
1           1   2     LeBron James  Cleveland Cavaliers  $22,970,500
2           2   3  Carmelo Anthony      New York Knicks  $22,875,000
3           3   4    Dwight Howard      Houston Rockets  $22,359,364
4           4   5       Chris Bosh           Miami Heat  $22,192,730

In [3]:
nba.sum()

Unnamed: 0                                                87990
RK                                                        88410
Player        Kobe BryantLeBron JamesCarmelo AnthonyDwight H...
TEAM          Los Angeles LakersCleveland CavaliersNew York ...
SALARY        $25,000,000 $22,970,500 $22,875,000 $22,359,36...
dtype: object

In [4]:
nba.sum(1)

0        1
1        3
2        5
3        7
4        9
      ...
415    831
416    833
417    835
418    837
419    839
Length: 420, dtype: int64

In [10]:
nba.Player.head()
type(nba.Player)

pandas.core.series.Series

In [14]:
nba[['Player','TEAM']]

                     Player                 TEAM
0               Kobe Bryant   Los Angeles Lakers
1              LeBron James  Cleveland Cavaliers
2           Carmelo Anthony      New York Knicks
3             Dwight Howard      Houston Rockets
4                Chris Bosh           Miami Heat
..                      ...                  ...
415         Orlando Johnson         Phoenix Suns
416            Phil Pressey         Phoenix Suns
417         Elliot Williams    Memphis Grizzlies
418          Cory Jefferson         Phoenix Suns
419  Thanasis Antetokounmpo      New York Knicks

[420 rows x 2 columns]